#home {
    height: 820px;
}

.headings {
    font-size: 1.7rem;
}

/* about */
#pic img {
    width: 300px;
    height: 175px;
}

#intro h2 {
    font-size: 1.5rem;
}

/* portfolios */

#gallery img {
    width: 275px;
    height: 150px;
    margin: 10;
}

/* contact */
#input {
    width: 90%;
}